* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  border: 1px solid green;
  width: 100%;
  height: 100%;
}

.skin {
  border: 1px solid red;
  /* 设置为相对定位，其他的内容相对它进行位移变化 */
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  background-color: rgb(255, 230, 0);
}

/* ----------------------------------------- */
/* ----------------------------------------- */

/* 下面是鼻子 */
.triangle {
  /* position: relative; */
  position: absolute;
  border: 10px solid black;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  width: 1px;
  height: 1px;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.circular_arc {
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 6px;
  /* 设置绝对定位后，就会找到上一个不是static的父元素作为定位基准，这里就是三角形triangle */
  /* xiu */
  position: absolute;
  top: -16px;
  left: -10px;
  border-radius: 100% 100% 0 0;
}
/* ----------------------------------------- */
/* ----------------------------------------- */

/* 下面是眼睛 */
.eye {
  position: absolute;
  border: 2px solid #000;
  width: 63px;
  height: 63px;
  /* 从上下排列变成左右排列 */
  /* display: inline-block; */
  left: 50%;
  top: 40%;
  /* top: 100px; */
  margin-left: -31.5px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
}

.eye.left {
  transform: translateX(-100px);
}

.eye.right {
  transform: translateX(100px);
}

.eye::after {
  position: absolute;
  /* 必须要有这个content */
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  left: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
}
/* ----------------------------------------- */
/* ----------------------------------------- */

/* 下面是嘴巴 */
.mouth {
  /* border: 1px solid blue; */
  width: 170px;
  height: 170px;
  /* position: absolute; */
  position: relative;
  left: 50%;
  top: 270px;
  margin-left: -85px;
}

.mouth .up .left-lip {
  border: 3px solid #000;
  width: 80px;
  height: 25px;
  /* 水平方向 垂直方向 */
  border-bottom-left-radius: 60px 30px;
  transform: rotate(20deg);
  position: absolute;
  top: -12px;
  border-right: none;
  border-top: none;
  left: 50%;
  transform: translateX(-85px) rotate(-20deg) translateY(9px);
}

.mouth .up .right-lip {
  border: 3px solid #000;
  width: 80px;
  height: 25px;
  border-radius: 0 0 90px 0;
  border-bottom-right-radius: 60px 30px;
  position: absolute;
  left: 50%;
  top: -12px;
  transform: rotate(20deg) translateY(9px) translateX(1px);
  border-left: none;
  border-top: none;
}
